<div>
<%= form_with(model: current_user, url: user_path(current_user), method: :patch, html: { multipart: true }) do |f| %>
   <div>
     <%= f.label :name, "Name" %>
     <%= f.text_field :name %>
   </div>
 
   <div>
     <%= f.label :profile_image, "Profile Image" %>
     <%= f.file_field :profile_image, accept: "image/*" %>
   </div>
 
   <div>
     <%= f.label :introduction, "Introduction" %>
     <%= f.text_area :introduction %>
   </div>
 
   <div>
     <%= f.submit "Save Changes" %>
   </div>
 <% end %>
 
</div>
