<div>
   <h2>User info</h2>
   <%= form_with(model: current_user, url: user_path(current_user), method: :patch, html: { multipart: true }) do |f| %>
      <div>
         <%= f.label :name, "Name" %>
         <%= f.text_field :name, value: current_user.name %>
      </div>

      <div>
         <%= f.label :profile_image, "Image" %>
         <%= f.file_field :profile_image, accept: "image/*" %>
      </div>

      <div>
         <%= f.label :introduction, "Introduction" %>
         <%= f.text_area :introduction, value: current_user.introduction %>
      </div>

      <div>
         <%= f.submit "Update", data: { disable_with: "Update" } %>
      </div>
   <% end %>
</div>
